<ion-view view-title="Sobre">
    <ion-content class="bg-gray padding">
        <div class="item-radius card">
            <div class="item item-divider no-ws">
                Versão 1.0
            </div>
            <div class="item item-text-wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita assumenda aliquam enim asperiores ad modi distinctio, commodi eos adipisci in labore quibusdam totam reiciendis odit nulla quis iusto, beatae dolores!</p>
            </div>
        </div>
    </ion-content>
</ion-view>

