<ion-view view-title="Comentários" ng-controller="RecipeCommentsCtrl">
    <ion-content class="bg-gray box-coments">

      <div class="list list-comentarios">
          
        <div class="item item-avatar" ng-repeat="comment in list_comments">
            <img src="{{comment.client.image}}">
            <h2>{{comment.client.name}}</h2>
            <p class="no-ws">{{comment.text}}</p>
        </div>

      </div>


      <ion-infinite-scroll
          ng-if="hasMoreData"
          on-infinite="loadMore()"
          distance="10%">
        </ion-infinite-scroll>


    </ion-content>

    <form action="" class="send-coments">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Adicione um comentário..." ng-model="text_comment" ng-focus="enabledButton()" ng-blur="disableButton()">
            </label>
            <button type="button" class="button button-small button-positive" ng-click="sendComment()" ng-disabled="flagButton">
                Enviar
            </button>
        </div>
    </form>
</ion-view>
