<ion-view view-title="Editar perfil">
    <ion-content class=" bg-gray">

        <form action="" class="form-app">
            <div class="list input-form box-add-item">

                <div class="take-pic padding">
                    <img ng-show="imgURI !== undefined" class="img-view-result" ng-click="takePhoto()" ng-src="{{imgURI}}">
                    <img ng-show="imgURI === undefined" class="img-view" ng-click="takePhoto()" ng-src="{{client.image}}">

                    <a class="button button-small btn-choose-pic" ng-click="choosePhoto()">
                        <i class="ion-image"></i>Selecionar foto de album
                    </a>
                </div>
            </div>

             <hr>

            <div class="list input-form box-add-item">
                <div class="padding">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome</span>
                        <input type="text" ng-model="client.name" placeholder="Nome">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="client.email" placeholder="Email">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Senha</span>
                        <input type="password" ng-model="client.password" placeholder="Senha">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Confirmar senha</span>
                        <input type="password" ng-model="client.password_confirmation" placeholder="Confirmação de Senha">
                    </label>
                </div>
            </div>

            <hr>

            <div class="padding">
                <a class="button button-positive" ng-click="startNewUser()">Salvar</a>
            </div>
        </form>

    </ion-content>

</ion-view>


