<ion-view view-title="Favoritos" ng-controller="FavoriteCtrl">
    <ion-nav-title>
        <h1 class="title">
          receitas favoritadas
      </h1>
    </ion-nav-title>

    <ion-content class="bg-gray">
        
        <ion-list>
        

            <ion-item class="item-avatar item-icon-right item-recipe-small" ng-repeat="recipe in list_recipes" type="item-text-wrap" href="#/tab/favorite/{{recipe.recipe_id}}">
                <img class="image-recipe" ng-src="{{recipe.image}}">
                <h2 class="recipe-name">{{recipe.title}}</h2>
                <h5 class="recipe-author">Por: {{recipe.client.name}}</h5>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-infinite-scroll
            ng-if="hasMoreData"
            on-infinite="loadMore()"
            distance="10%">
            </ion-infinite-scroll>
        
        </ion-list>

    </ion-content>
</ion-view>

