<ion-view view-title="Seguidores" ng-controller="ProfileFollowerCtrl">
    <ion-content class="bg-gray">
        <ion-list>
             <!-- <ion-item class="item item-avatar item-icon-right" ng-repeat="perfil in perfis" type="item-text-wrap" href="#/tab/profile> -->
            <ion-item ng-repeat="client in list_followers" class="item item-avatar item-icon-right item-follow" type="item-text-wrap" href="#/tab/timeline/profile/{{client.client_id}}">
                <!-- <img src="{{perfil.recipe_user.imagem}}"> -->
                <img ng-src="{{client.avatar}}" alt="{{client.name}}">
                <h2>{{client.name}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-infinite-scroll
            immediate-check="false"
            on-infinite="loadMore()"
            distance="10%">
        </ion-infinite-scroll>


        </ion-list>
    </ion-content>
</ion-view>
