
<ion-view view-title="Recuperar senha">
  <ion-content class="bg-gray padding">
    <form action="" class="form-app">
        <div class="list input-form">
          <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="email" placeholder="">
          </label>
        </div>
        <button type="button" class="button button-positive" ng-click="startLoginApp()">Recuperar</button>
    </form>
  </ion-content>
</ion-view>
