 <ion-view view-title="Login" hide-nav-bar="true" ng-controller="loginCtrl">
    <ion-content class="bg-login">
        <div class="big-logo">
            <img src="img/logo-vegood-h.svg">
        </div>
        <div class="btn-login">
            <button class="button button-calm" ng-click="openEnterEmail()">Já é cadastrado? Entre agora!</button>

            <button class="button button-facebook" ng-click="signInFacebook()">
                <i class="icon ion-social-facebook"></i>Entrar com o facebook
            </button>
        </div>
        <div class="btn-register">
            <span class="division">OU</span>
            <button type="button" class="button button-register" ng-click="openCreateAccount()">Crie uma conta agora</button>
        </div>
    </ion-content>
</ion-view>
