<ion-view view-title="{{perfil.name}}" ng-controller="ProfileCtrl">
    <ion-nav-title>
        <h1 class="title">
            {{perfil.name}}
        </h1>
    </ion-nav-title>
    <ion-content class="bg-gray">
        <div class="info-user padding">
            <div class="box clearfix">
                <div class="pic">
                    <div class="img">
                        <img ng-src="{{perfil.avatar}}" alt="{{perfil.name}}">
                    </div>
                </div>
                <div class="btn-actions">
                    <a class="button button-outline button-positive" ng-click="follow_func(perfil.id)">
                        <span ng-if="!perfil.flag_seguindo"><i class="ion-person-add"></i>Seguir</span>
                        <span ng-if="perfil.flag_seguindo"><i class="ion-person-add"></i>Seguindo</span>
                    </a>
                </div>

                <div class="infos-user">
                    <div class="info-number">
                        <div class="item-profile produtos">
                            <strong>{{perfil.size_recipe}}</strong>
                            <span>receitas</span>
                        </div>
                        <a class="item-profile seguindo" href="#/tab/timeline/following/{{perfil.id}}">
                            <strong>{{perfil.size_following}}</strong>
                            <span>seguindo</span>
                        </a>
                        <a class="item-profile seguidores" href="#/tab/timeline/followers/{{perfil.id}}">
                            <strong>{{perfil.size_followers}}</strong>
                            <span ng-if="perfil.size_followers>1">seguidores</span>
                            <span ng-if="perfil.size_followers<=1">seguidor</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="info-dates">
                <h2 class="nome">{{perfil.name}}</h2>
                <p class="email">{{perfil.email}}</p>
            </div>
        </div>

        <ion-list>
            <ion-item class="item-avatar item-icon-right item-recipe-small" ng-repeat="recipe in list_recipes" type="item-text-wrap" href="#/tab/profile/recipe/{{recipe.id}}
        ">
                <img class="image-recipe" ng-src="{{recipe.image}}">
                <h2 class="recipe-name no-ws">{{recipe.title}}</h2>
                <!--<h5 class="recipe-author">Por: {{recipe.client.name}}</h5>-->
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive ion-ios-trash" ng-click=""></ion-option-button>
            </ion-item>
            <ion-infinite-scroll ng-if="hasMoreData" on-infinite="loadMore()" distance="10%">
            </ion-infinite-scroll>
        </ion-list>
    </ion-content>
</ion-view>
