<ion-view view-title="{{perfil.name}}" ng-controller="ProfileCtrl">
    <ion-content>
        <div class="info-user card">
            <div class="row">
                <div class="col">
                    <div class="pic">
                        <div class="img">
                            <img ng-src="{{perfil.image}}" alt="{{perfil.name}}">
                        </div>
                    </div>
                </div>
                <div class="col col-75">
                    <div class="info-number">
                        <div class="item-profile produtos">
                            <strong>{{perfil.size_recipe}}</strong>
                            <span>receitas</span>
                        </div>
                        <a class="item-profile seguindo" href="#/tab/seguindo/{{perfil.id}}">
                            <strong>{{perfil.size_followers}}</strong>
                            <span>seguindo</span>
                        </a>
                        <a class="item-profile seguidores" href="#/tab/seguidores/{{perfil.id}}">
                            <strong>{{perfil.size_following}}</strong>
                            <span ng-if="perfil.size_following>1">seguidores</span>
                            <span ng-if="perfil.size_following<=1">seguidor</span>
                        </a>
                    </div>
                    
                    <a ng-if="flag_edit" ng-href="#" class="button edit-perfil">
                        Editar perfil
                    </a>
                    <a ng-click="" ng-href="follow_func()" class="button edit-perfil">
                        <span ng-if="flag_seguindo">Seguindo</span>
                        <span ng-if="!flag_seguindo">Seguir</span>
                    </a>

                </div>
            </div>
            <div class="dados">
                <h2 class="nome">{{perfil.name}}</h2>
                <p class="email">{{perfil.email}}</p>

            </div>
            <!-- <a href="" class="edit-perfil button button-icon button-clear ion-edit"></a> -->
        </div>


        <div class="padding">
            <div class="item-recipe-big card" ng-repeat="recipe in list_recipes">
                <a class="link-item" ng-href="#/tab/timeline/recipe/{{recipe.id}}">
                    <div class="item item-image">
                        <img class="image-recipe" ng-src="{{recipe.image}}">
                        <span class="categoria">
                            <span ng-repeat=" category in recipe.categories">
                                {{category.name}}
                            </span>
                        </span>
                    </div>
                    <div class="item">
                        <h2 class="recipe-name">{{recipe.title}}</h2>
                    </div>
                </a>
                <div class="info-number item">
                    <ul>
                        <li class="item-info-recipe">
                            <a id="like-{{recipe.id}}" class="action" ng-click="like_func({{recipe.id}})">
                                <p class="valor">
                                    <i class="ion-ios-heart{{recipe.class_like}}"></i>
                                    <t>{{recipe.size_likes}}</t>
                                </p>
                            </a>
                        </li>
                        <li class="item-info-recipe">
                            <a id="favorite-{{recipe.id}}" class="action" ng-click="favorite_func({{recipe.id}})">
                                <p class="valor">
                                    <i class="ion-ios-star{{recipe.class_favorite}}"></i>
                                    <t>{{recipe.size_favorites}}</t>
                                </p>
                            </a>
                        </li>
                        <li class="item-info-recipe">
                            <a ng-href="#/tab/timeline/comments/{{recipe.id}}" class="action">
                                <p class="valor">
                                    <i class="ion-ios-chatbubble{{recipe.class_comment}}"></i> 
                                    {{recipe.size_comments}}
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <ion-infinite-scroll
            ng-if="hasMoreData"
          on-infinite="loadMore()"
          distance="10%">
        </ion-infinite-scroll>
            
        </div>
    </ion-content>
</ion-view>
