<ion-view view-title="{{perfil.recipe_user.author}}">
    <ion-content>
        <div class="info-user card">
            <div class="row">
                <div class="col">
                    <div class="pic">
                        <div class="img">
                            <img ng-src="{{perfil.recipe_user.imagem}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col col-75">
                    <div class="info-number">
                        <div class="item-profile produtos">
                            <strong>{{perfil.quant_receitas}}</strong>
                            <span>receitas</span>
                        </div>
                        <a class="item-profile seguindo" href="#/tab/{{el_link}}seguindo/{{userId_params}}">
                            <strong>{{perfil.quant_seguindo}}</strong>
                            <span>seguindo</span>
                        </a>
                        <a class="item-profile seguidores" href="#/tab/{{el_link}}seguidores/{{userId_params}}">
                            <strong>{{perfil.quant_seguidores}}</strong>
                            <span ng-if="perfil.quant_seguidores>1">seguidores</span>
                            <span ng-if="perfil.quant_seguidores<=1">seguidor</span>
                        </a>
                    </div>
                    
                    <a ng-if="flag_user_edt_seguir"  ng-href="" class="button edit-perfil">Editar perfil</a>
                    <a ng-if="!flag_user_edt_seguir" ng-click="seguir(1, {{usuario_logado_id}})" ng-href="" class="button edit-perfil"><span ng-if="flag_seguindo">Seguindo</span><span ng-if="!flag_seguindo">Seguir</span></a>

                </div>
            </div>
            <div class="dados">
                <h2 class="nome">{{perfil.recipe_user.author}}</h2>
                <p class="email">{{perfil.email}}</p>

            </div>
            <!-- <a href="" class="edit-perfil button button-icon button-clear ion-edit"></a> -->
        </div>


        <div class="padding">
            <div class="item-recipe-big card" ng-repeat="recipe in recipes">
                <a class="link-item" ng-href="#/tab/{{el_link}}recipe/{{recipe.id}}">
                    <div class="item item-image">
                        <img class="image-recipe" ng-src="{{recipe.recipe_image}}">
                        <span class="categoria"><span ng-repeat=" category in recipe.recipe_category">{{category.item}}</span>
                    </div>
                    <div class="item">
                        <h2 class="recipe-name">{{recipe.recipe_name}}</h2>
                    </div>
                </a>
                <div class="info-number item">
                    <ul>
                        <li class="item-info-recipe">
                            <a id="like_dislike-{{recipe.id}}" class="action" ng-click="interact_recive({{usuario_logado_id}}, {{recipe.id}}, 'like_dislike')">
                                <p class="valor">
                                    <i class="ion-ios-heart{{recipe.recipe_likedislike}}"></i>{{recipe.recipe_quant_likedislike}}
                                </p>
                            </a>
                        </li>
                        <li class="item-info-recipe">
                            <a id="favorito_desfavorito-{{recipe.id}}" class="action" ng-click="interact_recive({{usuario_logado_id}}, {{recipe.id}}, 'favorito_desfavorito')">
                                <p class="valor">
                                    <i class="ion-ios-star{{recipe.recipe_favorito}}"></i>{{recipe.recipe_quant_favorito}}
                                </p>
                            </a>
                        </li>
                        <li class="item-info-recipe">
                            <a ng-href="#/tab/home/comentarios/{{recipe.id}}" class="action">
                                <p class="valor"><i class="ion-ios-chatbubble{{recipe.recipe_comentario}}"></i> {{recipe.recipe_quant_comentarios}}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <ion-infinite-scroll
            immediate-check="false"
          on-infinite="loadMore()"
          distance="10%">
        </ion-infinite-scroll>
            
        </div>
    </ion-content>
</ion-view>
