<ion-view view-title="Receita" ng-controller="RecipeDetailCtrl">

    <ion-content class="bg-gray">

        <div class="item-recipe-big card">
            <a class="link-item" ng-href="#/tab/timeline/profile/{{recipe.client.id}}">
                <div class="item item-avatar">
                    <img class="pic-user" src="{{recipe.client.image}}" alt="{{recipe.client.name}}">
                    <h2 class="recipe-author">{{recipe.client.name}}</h2>
                </div>
            </a>

            <div class="item-image item">
                <img class="image-recipe" ng-src="{{recipe.image}}">
            </div>

            <div class="info-title item">
                <h2 class="recipe-name">{{recipe.title}}</h2>
                <div class="categoria">
                    <span ng-repeat=" category in recipe.categories">{{category.name}}</span>
                </div>
            </div>

            <div class="info-number item">
                <ul>
                    <li class="item-info-recipe">
                        <a id="like-{{recipe.id}}" class="action" ng-click="like_func(recipe.id)">
                            <p class="valor">
                                <i class="ion-ios-heart{{recipe.class_like}}"></i>
                                <t>{{recipe.size_likes}}</t>
                            </p>
                        </a>
                    </li>
                    <li class="item-info-recipe">
                        <a ng-href="#/tab/timeline/comments/{{recipe.id}}" class="action">
                            <p class="valor">
                                <i class="ion-ios-chatbubble{{recipe.class_comment}}"></i>
                                {{recipe.size_comments}}
                            </p>
                        </a>
                    </li>
                    <li class="item-info-recipe">
                        <a id="favorite-{{recipe.id}}" class="action" ng-click="favorite_func({{recipe.id}})">
                            <p class="valor icon-star">
                                <i class="ion-ios-star{{recipe.class_favorite}}"></i>
                                <!-- <t>{{recipe.size_favorites}}</t> -->
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>




        <div class="info-recipe card">
            <ul>
                <li class="item-info-recipe">
                    <i class="ion-ios-time"></i>
                    <span class="titulo">Preparo</span>
                    <p class="valor">{{recipe.preparation_time}}</p>
                </li>
                <li class="item-info-recipe">
                    <i class="ion-ios-flame"></i>
                    <span class="titulo">Cozimento</span>
                    <p class="valor">{{recipe.cooking_time}}</p>
                </li>
                <li class="item-info-recipe">
                    <i class="ion-ios-people"></i>
                    <span class="titulo">Rendimento</span>
                    <p class="valor">{{recipe.portion}}</p>
                </li>
                <li class="item-info-recipe">
                    <i class="ion-ios-gear"></i>
                    <span class="titulo">Dificuldade</span>
                    <p class="valor">{{recipe.difficulty}}</p>
                </li>
            </ul>
        </div>


        <div class="info-card-recipe card">
            <div class="item item-divider">
                Ingredientes
            </div>
            <div class="item item-text-wrap">
                <ul class="lista-ingredientes lista-info-recipe" >
                    <li ng-repeat="ingredient in recipe.ingredients"><p>{{ ingredient.name }}</p></li>
                </ul>
            </div>
        </div>


        <div class="info-card-recipe card">
            <div class="item item-divider">
                Instruções de preparo
            </div>
            <div class="item item-text-wrap">
                <ul class="lista-preparo lista-info-recipe">
                    <li ng-repeat="preparation_recipe in recipe.preparation_recipes"><p>{{ preparation_recipe.mode }}</p></li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>

