<ion-view view-title="Enviar Receita" ng-controller="SendRecipeCtrl">
    <ion-content class="bg-gray">

        <form action="" class="form-app">
            <div class="list input-form box-add-item">

                <div class="take-pic padding">
                    <img ng-show="imgURI !== undefined" class="img-view-result" ng-click="takePhoto()" ng-src="{{imgURI}}">
                    <img ng-show="imgURI === undefined" class="img-view" ng-click="takePhoto()" ng-src="{{recipe.image}}">
                </div>
            </div>

             <hr>

            <div class="list input-form box-add-item">
                <div class="padding">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome</span>
                        <input type="text" ng-model="recipe.name" placeholder="Ex: risoto de arroz">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Categoria</span>
                        <ion-checkbox ng-repeat="item in list_categories" ng-model="item.checked" ng-checked="item.checked">
                            {{ item.name }}
                        </ion-checkbox>
                    </label>
                </div>
            </div>

            <hr>

            <div class="list input-form box-add-item">
                <div class="padding">

                    <div class="row block-input">
                      <div class="col col-50">
                          <label class="item item-input item-stacked-label">
                              <span class="input-label">Preparo</span>
                              <input type="number" ng-model="recipe.preparation_time" placeholder="Em minutos">
                          </label>
                      </div>
                      <div class="col col-50">
                          <label class="item item-input item-stacked-label">
                              <span class="input-label">Cozimento</span>
                              <input type="number" ng-model="recipe.cooking_time" placeholder="Em minutos">
                          </label>
                      </div>
                    </div>

                    <div class="row block-input">
                        <div class="col col-50">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Rendimento</span>
                                <input type="number" ng-model="recipe.portion" placeholder="Qtd. de porções">
                            </label>
                        </div>
                        <div class="col col-50">
                            <label class="item-input item-input-select">
                               <span class="input-label">Dificuldade</span>
                            </label>
                              <select class="item-select">
                                <option>Selecione</option>
                                <option>Fácil</option>
                                <option>Normal</option>
                                <option>Difícil</option>
                              </select>


                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="list input-form box-add-item">
                <div class="padding">
                    <label class="item item-input item-stacked-label" >
                        <span class="input-label">Ingredientes</span>
                        <div ng-repeat="ingredient in recipe.element_ingredient">
                            <input type="text"  ng-model="recipe.ingredients[$index]" placeholder="{{ingredient}}">
                        </div>
                    </label>
                    <a class="button button-stable" ng-click="moreIngredient()">
                        <i class="ion-plus-round"></i>
                    </a>
                </div>
            </div>

            <hr>

            <div class="list input-form box-add-item">
                <div class="padding">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Modo de preparo</span>
                        <div ng-repeat="preparation in recipe.element_preparation">
                            <textarea class="item-textarea" name="" id="" ng-model="recipe.preparations[$index]" cols="30" rows="3" placeholder="{{preparation}}"></textarea>
                        </div>
                    </label>
                    <a class="button button-stable" ng-click="morePreparation()">
                        <i class="ion-plus-round"></i>
                    </a>
                </div>
            </div>

            <hr>

            <div class="padding">
                <a class="button button-positive" ng-click="sendRecipe()">Compartilhar</a>
            </div>
        </form>
    </ion-content>
</ion-view>
