<ion-view view-title="Categorias">
  <ion-content class="bg-gray padding">
      <a class="item-recipe-category card"  ng-href="#/tab/categorias/1">
          <div class="item item-image">
              <img class="image-recipe" ng-src="img/uploads/bg-cafe.jpg">
              <span class="categoria">Café da manhã</span>
          </div>
      </a>

      <a class="item-recipe-category card"  ng-href="#/tab/categorias/2">
          <div class="item item-image">
              <img class="image-recipe" ng-src="img/uploads/bg-lanche.jpg">
              <span class="categoria">Lanche</span>
          </div>
      </a>

      <a class="item-recipe-category card"  ng-href="#/tab/categorias/3">
          <div class="item item-image">
              <img class="image-recipe" ng-src="img/uploads/bg-almoco.jpg">
              <span class="categoria">Almoço</span>
          </div>
      </a>

      <a class="item-recipe-category card"  ng-href="#/tab/categorias/4">
          <div class="item item-image">
              <img class="image-recipe" ng-src="img/uploads/bg-janta.jpg">
              <span class="categoria">Jantar</span>
          </div>
      </a>
  </ion-content>
</ion-view>
