<ion-view view-title="Timeline" ng-controller="timeLineCtrl">
    <ion-nav-title>
        <img class="logo-title" src="img/logo-vegood.svg">
    </ion-nav-title>

    <!-- <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search-strong" ng-click="openPesquisa()"></button>
    </ion-nav-buttons> -->

    <ion-content class="bg-gray">

        <ion-refresher pulling-text="Atualizando..." on-refresh="doRefresh()"></ion-refresher>

        <div class="item-recipe-big card" ng-repeat="recipe in list_recipes">
            <a class="link-item" ng-href="#/tab/timeline/profile/{{recipe.client.id}}">
                <div class="item item-avatar">
                    <img class="pic-user" src="{{recipe.client.image}}" alt="{{recipe.client.name}}">
                    <h2 class="recipe-author">{{recipe.client.name}}</h2>
                </div>
            </a>

            <a class="link-item" ng-href="#/tab/timeline/recipe/{{recipe.id}}">
                <div class="item-image item">
                    <img class="image-recipe" ng-src="{{recipe.image}}">
                </div>

                <div class="info-title item">
                    <h2 class="recipe-name">{{recipe.title}}</h2>
                    <div class="categoria">
                        <span ng-repeat=" category in recipe.categories">{{category.name}}</span>
                    </div>
                </div>
            </a>

            <div class="info-number item">
                <ul>
                    <li class="item-info-recipe">
                        <a id="like-{{recipe.id}}" class="action" ng-click="like_func({{recipe.id}})">
                            <p class="valor">
                                <i class="ion-ios-heart{{recipe.class_like}}"></i>
                                <t>{{recipe.size_likes}}</t>
                            </p>
                        </a>
                    </li>
                    <li class="item-info-recipe">
                        <a ng-href="#/tab/timeline/comments/{{recipe.id}}" class="action">
                            <p class="valor">
                                <i class="ion-ios-chatbubble{{recipe.class_comment}}"></i>
                                {{recipe.size_comments}}
                            </p>
                        </a>
                    </li>
                    <li class="item-info-recipe">
                        <a id="favorite-{{recipe.id}}" class="action" ng-click="favorite_func({{recipe.id}})">
                            <p class="valor icon-star">
                                <i class="ion-ios-star{{recipe.class_favorite}}"></i>
                                <!-- <t>{{recipe.size_favorites}}</t> -->
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <ion-infinite-scroll
            ng-if="hasMoreData"
            on-infinite="loadMore()"
            distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
