<ion-view view-title="Enviar Receita" ng-controller="SendRecipeCtrl">
    <ion-content class="padding bg-gray">
        <form action="" class="form-app">
            <div class="list input-form box-add-item">
                <div class="box-title">
                    <h1 class="title">Adicionar foto</h1>
                </div>

                <div class="take-pic">
                  <img ng-show="imgURI !== undefined" class="img-view-result" ng-src="{{imgURI}}">
                  <img ng-show="imgURI === undefined" class="img-view" ng-src="{{recipe.image}}">
                  <a class="button button-positive" ng-click="takePicture()">
                      <i class="ion-ios-camera"></i>
                  </a>

                </div>
            </div>
            <hr>
            <div class="list input-form">
                <div class="box-title">
                    <h1 class="title">Informações</h1>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome da receita</span>
                    <input type="text" ng-model="recipe.name" placeholder="">
                </label>

                <ion-checkbox ng-repeat="item in list_categories"
                  ng-model="item.checked" 
                  ng-checked="item.checked">
                    {{ item.name }}
                </ion-checkbox>
                
                <label class="item item-input item-select">
                    <span class="input-label">Dificuldade</span>
                    <select ng-model="recipe.dificulty">
                        <option>Fácil</option>
                        <option>Difícil</option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Tempo de preparo</span>
                    <input type="number" ng-model="recipe.preparation_time" placeholder="em minutos">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Tempo de Cozimento</span>
                    <input type="number" ng-model="recipe.cooking_time" placeholder="em minutos">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Rendimento</span>
                    <input type="number" ng-model="recipe.portion" placeholder="Quantidade de porções">
                </label>

            </div>
            <hr>
            <div class="list input-form box-add-item">
                <div class="box-title">
                    <h1 class="title">Ingredientes</h1>
                </div>
                <label class="item item-input" ng-repeat="ingredient in recipe.element_ingredient">
                    <input type="text" ng-model="recipe.ingredients[$index]" placeholder="{{ingredient}}">
                </label>

                <a class="button button-positive" ng-click="moreIngredient()">
                    <i class="ion-ios-plus-empty"></i>
                </a>
            </div>
            <hr>
            <div class="list input-form box-add-item">
                <div class="box-title">
                    <h1 class="title">Modo de preparo</h1>
                </div>
                <label class="item item-input" ng-repeat="preparation in recipe.element_preparation">
                    <textarea name="" id="" ng-model="recipe.preparations[$index]" cols="30" rows="2" placeholder="{{preparation}}"></textarea>
                </label>

                <a class="button button-positive" ng-click="morePreparation()">
                    <i class="ion-ios-plus-empty"></i>
                </a>
            </div>
            <hr>

            <a class="button button-positive" ng-click="sendRecipe()">Enviar</a>
        </form>
    </ion-content>
</ion-view>
