
<ion-view view-title="Dicas">
  <ion-content class="bg-gray padding">

      <div class="item-radius card">
        <div class="item item-divider no-ws">
         Lorem ipsum dolor sit amet
        </div>
        <div class="item item-text-wrap">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab impedit ducimus fugit, dicta aut. Ipsum numquam repudiandae, laboriosam nulla, expedita, alias deleniti facilis quam ratione aliquid, vitae quas excepturi itaque.</p>
        </div>
      </div>
  </ion-content>
</ion-view>
